<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Le module aspNetCore gère la communication avec Kestrel -->
    <aspNetCore processPath="dotnet" arguments=".\VotreApplication.dll" stdoutLogEnabled="true" stdoutLogFile=".\LogFiles\stdout">
      <!-- Vous pouvez définir d'autres paramètres ici si besoin -->
    </aspNetCore>
  </system.webServer>
</configuration>
