<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet" arguments=".\YourApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\LogFiles\stdout">
      <failureDetection rapidFailPerMinute="10" />
      <!-- Section Auto-Heal -->
      <failureActions>
        <action type="Restart" />
      </failureActions>
    </aspNetCore>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>

