<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet" 
                arguments=".\ECommerce.dll" 
                stdoutLogEnabled="true" 
                stdoutLogFile=".\LogFiles\stdout"
                hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
      <failureDetection rapidFailPerMinute="10" />
      <failureActions>
        <action type="Restart" />
      </failureActions>
    </aspNetCore>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>


